/* Background: #1A123F */
/* Highlight: #FFC585 */
/* Text: #FAE7D3 */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFC585; 
}

h2 {
  font-weight: 400;
  margin-bottom: 3.0rem;
  font-size: 3.0rem;
}

body {
  background: #1A123F;
  color: #FAE7D3;
  font-size: 18px;
}

button {
  background: none;
  box-shadow: inset 0 0 0 1px #FFC585;
  color: #FAE7D3;
}

button:hover {
  background: rgba(255, 197, 133, 0.1);
  color: #FAE7D3;
}

button:active {
  background: #FFC585;
  color: #FAE7D3;
}

button:focus {
  background: rgba(255, 197, 133, 0.1);
  color: #FAE7D3;
}

#app {
  min-height: 100vh;
}

.wrapper {
    margin-top: 15vh;
}

.readyToStart {
  align-items: center;
  min-height: 100vh;
  display: flex;
  padding: 0 2rem;
  margin-top: 0;
}

.readyToStart > * {
  margin: 4.8rem 0;
}

.readyToStart-inner {
  align-items: stretch;
  display: flex;
  padding-bottom: 9rem;
}

.readyToStart-inner .image-container {
  flex: 0 0 298px;
  margin-left: 4.8rem;
}

img {
  display: block;
}

.readyToStart .image-container img {
  margin-top: 1.5rem;
}

.readyToStart h1.pageTitle {
  font-size: 4.2rem;
  font-weight: lighter;
}

.readyToStart h1.pageTitle strong {
  display: block;
  font-weight: 400;
}

.readyToStart .welcome-message {
  display: flex;
  flex-direction: column;
}

.readyToStart .welcome-message p {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}


.pageHeader {
  margin: 0 auto;
  max-width: 960px;
  padding: 0rem 2rem;
}

.pageHeader h1 {
  font-size: 1.2rem;
  font-weight: 100;
  border-bottom: 1px solid #FFC585;
  padding: 0;
}

.pageHeader h1 strong {
  font-weight: 400;
}


.answeringQuestions .choice {
  align-items: center;
  line-height: 2.4rem;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 4.87rem;
  text-align: left;
  border: none;
  padding: 0;
  box-shadow: none;
  position: relative;
}


.answeringQuestions .choice:hover,
.answeringQuestions .choice:active {
  background: none;
}

.answeringQuestions .choice:hover .circle {
  background: rgba(255, 197, 133, 0.1);
}

.answeringQuestions .choice:active .circle {
  background: #FFC585;
}

.answeringQuestions .choice .content {
  align-items: center;
  display: flex;
}

.circle-container {
  min-height: 3.6rem;
  min-width: 3.6rem;
  margin-right: 2.4rem;
  display: flex;
  align-items: center;
}


.circle {
  transition: background .2s ease-out;
  display: inline-block;
  height: 3.6rem;
  flex: 0 0 3.6rem;
  border-radius: 50%;
  border: 1px solid #FFC585;
}

.or-divider-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.or-divider-container .line {
  background: #FFC585;
  flex: 0 1 3.0rem;
  height: 1px;
  opacity: 0.4;
}

.or-divider-container p {
  color: #FFC585;
  padding: 0.6rem 1.2rem;
  font-style: italic;
}

.finished .results {
  text-align: center; 
}

.finished .results p {
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 4.8rem;
}

.finished .results button {
  margin-top: 3.0rem;
}

.finished .results strong {
  font-weight: 400;
}
